@using Resources;
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Resources.StringResource.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resources.StringResource.LockedOut</h1>
    <h2 class="text-danger">@Resources.StringResource.LockOutMessage</h2>
</hgroup>
