@using Resources
@{
    ViewBag.Title = @Resources.StringResource.LoginFailure;
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@Resources.StringResource.LoginFailure</h3>
</hgroup>
