@using Resources;
@{
    ViewBag.Title = @Resources.StringResource.ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.StringResource.ForgotPasswordConfirmation
    </p>
</div>
	
